$icon-font-path: "/vendor/bootstrap-sass/vendor/assets/fonts/";
$fa-font-path: "/vendor/fontawesome/fonts/";

@import 'fontawesome/scss/font-awesome';
@import 'bootstrap-sass/vendor/assets/stylesheets/bootstrap';

html, body {
    height: 100%;
}

html, html a {
    -webkit-font-smoothing: antialiased;
    text-shadow:            1px 1px 1px rgba(0, 0, 0, 0.004);
}

body {
    background:  #3498db;
    font-family: Raleway, sans-serif;
}

a:hover,
a:focus {
    text-decoration: none;
}

// ********** LOGO *********** //

.logo {
    margin:         50px auto;
    text-align:     center;
    color:          #fff;
    font-size:      48px;
    text-transform: uppercase;
    font-family:    'Raleway', sans-serif;
    font-weight:    300;
}

.logo__name, .logo__city {
    display: inline-block;
}

.logo__name:after {
    content: '|';
    margin:  0 .5em;
}

.logo__city {
    font-weight: 100;
}

// ********* LOADER ********** //

.hero {
    position:   relative;
    top:        calc(10% - 20px);
    margin:     0 auto;
    text-align: center;
}

.hero__heading {
    text-transform: uppercase;
    color:          #fff;
    font-size:      24px;
    font-weight:    300;
    text-shadow:    1px 1px 0 #2980b9;
}

.loader {
    position:      relative;
    display:       inline-block;
    margin-bottom: 18px;
}

.loader_type_box .loader__block {
    width:         54px;
    height:        54px;
    background:    #fff;
    animation:     bounce .5s linear 1s infinite;
    position:      relative;
    border-radius: 3px;
    z-index:       200;
    transform:     rotate(45deg);
}

.loader_type_box .loader__deco {
    width:         54px;
    height:        9px;
    background:    #000;
    opacity:       0.1;
    position:      relative;
    top:           15px;
    border-radius: 50%;
    animation:     shadow .5s linear 1s infinite;
}

@keyframes bounce {
    0% {
        transform: rotate(45deg);
    }
    17% {
        transform:                  rotate(45deg);
        border-bottom-right-radius: 3px;
    }
    25% {
        transform: translateY(15px) rotate(45deg);
    }
    50% {
        transform:                  translateY(24px) scale(1, .9) rotate(45deg);
        border-bottom-right-radius: 40px;
    }
    75% {
        transform: translateY(15px) rotate(45deg);
    }
    100% {
        transform: translateY(0) rotate(45deg);
    }
}

@keyframes shadow {
    50% {
        transform: scale(1.2, 1);
    }
}

.ad {
    position:   relative;
    margin-top: 45px;
    padding:    45px 0;
    background: #2c3e50;
    top:        calc(20% - 20px);
}

.ad__button {
    display:        inline-block;
    padding:        27px 36px;
    color:          #fff;
    border:         solid 1px #fff;
    text-transform: uppercase;
    font-weight:    bold;
    letter-spacing: 1px;
    transition:     all 0.5s;
}

.ad__button span {
    position:           relative;
    display:            inline-block;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition:    -moz-transform 0.3s;
    transition:         transform 0.3s;
}

.ad__button span i {
    vertical-align: middle;
    margin-right:   10px;
}

.ad__button:hover,
.ad__button:focus {
    color:  #3dc9b3;
    border: solid 1px #3dc9b3;
}

// ********** FOOTER ********** //

footer {
    position:   absolute;
    width:      100%;
    bottom:     9px;
    color:      #eee;
    font-size:  12px;
    text-align: center;
    p {
        margin-bottom: 0;
    }

    .text_color_muted {
        color: #ddd;
    }
}

// ************ ANIMATION ********** //

.delay-05s {
    animation-delay:         0.5s;
    -webkit-animation-delay: 0.5s;
}

.delay-1s {
    animation-delay:         1s;
    -webkit-animation-delay: 1s;
}
