<div class="contact s_mb_20">
    <div class="contact__photo"></div>
    <div class="contact__details">
        <div class="contact__name">Николай Гордеев</div>
        <div class="contact__title">Глава Английской Федерации</div>
        <div class="contact__phone"><i class="fa fa-phone"></i>+8 (999) 999-99-99</div>
        <div class="contact__vk"><i class="fa fa-vk"></i><a href="https://vk.com/id205213953" target="_blank">Капитан Вэстхэмов</a></div>
    </div>
</div>

<div class="contact s_mb_20">
    <div class="contact__photo"></div>
    <div class="contact__details">
        <div class="contact__name">Эрвин Умеров</div>
        <div class="contact__title">Зам. главы Федерации</div>
        <div class="contact__phone"><i class="fa fa-phone"></i>+8 (999) 999-99-99</div>
        <div class="contact__vk"><i class="fa fa-vk"></i><a href="https://vk.com/umerov_ervin" target="_blank">Ervin Umerov</a></div>
    </div>
</div>

<div class="contact s_mb_20">
    <div class="contact__photo"></div>
    <div class="contact__details">
        <div class="contact__name">Олег Цыпляев</div>
        <div class="contact__title">Глава отдела мультимедиа</div>
        <div class="contact__phone"><i class="fa fa-phone"></i>+8 (999) 999-99-99</div>
        <div class="contact__vk"><i class="fa fa-vk"></i><a href="https://vk.com/id3719280" target="_blank">Олег Цыпляев</a></div>
    </div>
</div>

<div class="contact s_mb_20">
    <div class="contact__photo"></div>
    <div class="contact__details">
        <div class="contact__name">Владислав Берестенёв</div>
        <div class="contact__title">Глава судейского корпуса</div>
        <div class="contact__phone"><i class="fa fa-phone"></i>+8 (999) 999-99-99</div>
        <div class="contact__vk"><i class="fa fa-vk"></i><a href="https://vk.com/id32612983" target="_blank">Владислав Берестенёв</a></div>
    </div>
</div>

<div class="contact s_mb_20">
    <div class="contact__photo"></div>
    <div class="contact__details">
        <div class="contact__name">Артур Григорян</div>
        <div class="contact__title">Главный редактор</div>
        <div class="contact__phone"><i class="fa fa-phone"></i>+8 (999) 999-99-99</div>
        <div class="contact__vk"><i class="fa fa-vk"></i><a href="https://vk.com/ateka" target="_blank">Атёка Григорян</a></div>
    </div>
</div>
