<div class="panel panel_type_federations">
    <div class="panel__header"><h4 class="s_m_0"><i class="fa fa-globe s_mr_10"></i> Федерации</h4></div>
    <div class="panel__body">
        <div class="row clearfix text_align_c">
            {{#each globals.countries}}
                <div class="col-md-2" style="float: none; display: inline-block;">
                    <div class="federation">
                        <div class='flag__wrapper rotate rotate_deg_0'>
                            <div class="flag flag_country_{{slug}}"></div>
                        </div>

                        <h5>{{name}}</h5>

                        <div class="socials">
                            <ul class="socials__buttons">
                                <li>
                                    <a href="{{vk}}" class="socials__button" target="_blank"><i class="fa fa-vk"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</div>
