<div class="partners">
    <div class="row s_mb_20">
        <div class="col-md-12">
            <div class="partner__border">
                <a href="http://www.sportprintm.ru" title="Нанесения номеров, фамилий, надписей и клубной символики на спортивную форму." target="_blank">
                    <img class="partner__image" src="/images/spm_v2_3.gif">
                </a>
            </div>
        </div>
    </div>
    <div class="row s_mb_20">
        <div class="col-md-12">
            <div class="partner__border">
                <a href="http://abmsport.ru" title="Umbro" target="_blank">
                    <img class="partner__image" src="/images/umbro.jpg">
                </a>
            </div>
        </div>
    </div>
    <div class="row s_mb_20">
        <div class="col-md-12">
            <div class="partner__border">
                <a href="http://abmsport.ru/brands/select" title="Select" target="_blank">
                    <img class="partner__image" src="/images/select.jpg">
                </a>
            </div>
        </div>
    </div>
</div>
