<div class="partners">
    <div class="row s_mb_20">
        <div class="col-md-12">
            <div class="partner__border">
                <a href="http://www.sportprintm.ru" title="Нанесения номеров, фамилий, надписей и клубной символики на спортивную форму." target="_blank">
                    <img class="partner__image" src="/images/spm_v2_3.gif">
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="partner__border">
                <a href="http://rk-sport.ru/katalog/futbol/majkashortyi.html" target="_blank">
                    <img class="partner__image" src="/images/rk-sport.png">
                </a>
            </div>
        </div>
    </div>
</div>
