<div class="partners">
    <div class="row">
        <div class="col-md-12">
            <div class="partner__border">
                <img class="partner__image" src="/images/sp-design.jpg">
            </div>
        </div>
    </div>
    </div>
</div>
