<form class="stepform s_mb_40 animated fadeInUp js-contacts-form" autocomplete="off">
    <div class="stepform-inner js-stepform-inner">
        <h2 id="order">Оставить заявку на участие.</h2>
        <input type="hidden" name="leagueId" value="{{globals.league._id}}">
        <ol class="questions">
            <li class="current">
                <span><label for="q1">Укажите Ваше имя.</label></span>
                <input id="q1" name="name" type="text"/>
            </li>
            <li>
                <span><label for="q2">В каком районе Вам было бы удобно играть?</label></span>
                <input id="q2" name="region" type="text"/>
            </li>
            <li>
                <span><label for="q3">В какой лиге Вы бы хотели участвовать?</label></span>
                <input id="q3" name="league" type="text"/>
            </li>
            <li>
                <span><label for="q4">За какую команду Вы бы хотели играть?</label></span>
                <input id="q4" name="team" type="text"/>
            </li>
            <li>
                <span><label for="q5">Откуда Вы узнали о нашей лиге?</label></span>
                <input id="q5" name="source" type="text"/>
            </li>
            <li>
                <span><label for="q6">Укажите Ваш email, чтобы мы могли с Вами связаться.</label></span>
                <input id="q6" name="email" type="email"/>
            </li>
        </ol>
        <!-- /questions -->
        <div class="controls">
            <button class="next"></button>
            <div class="progress"></div>
							<span class="number">
								<span class="number-current"></span>
								<span class="number-total"></span>
							</span>
            <span class="error-message"></span>
        </div>
        <!-- / controls -->
    </div>
    <!-- /stepform-inner -->
    <span class="final-message">Спасибо! Мы с Вами обязательно свяжемся!</span>
</form>
<!-- /stepform -->