<table class="table table_layout_fixed s_m_0">
    <thead>
    <tr>
        <th class="col-md-2 text_align_c">Место</th>
        <th class="col-md-5 text_align_l">Игрок</th>
        <th class="col-md-3 text_align_c">Позиция</th>
        <th class="col-md-2 text_align_c">Голы</th>
    </tr>
    </thead>

    <tbody>
    {{#each this}}
        <tr>
            <td class="text_align_c">{{inc @index}}</td>
            <td class="text_align_l text_overflow_ellipsis">{{name}}</td>
            <td class="text_align_c">{{position}}</td>
            <td class="text_align_c">{{goals}}</td>
        </tr>
    {{/each}}
    </tbody>
</table>
