<div class="row">
    <div class="col-md-4">
        <div class="feature">
            <span class="feature__icon flaticon-football90"></span>
            <span class="feature__title">8x8</span>
            <span class="feature__description">7 в поле + вратарь</span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="feature">
            <span class="feature__icon fa fa-clock-o"></span>
            <span class="feature__title">40x2</span>
            <span class="feature__description">80 минут любимой игры</span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="feature">
            <span class="feature__icon flaticon-football96"></span>
            <span class="feature__title">70x35</span>
            <span class="feature__description">Идеальное поле для игры</span>
        </div>
    </div>
</div>
