
.flag__wrapper {
    position:           relative;
    display:            inline-block;
    width:              200px;
    height:             200px;
    padding:            1%;
    vertical-align:     middle;
    border-radius:      50%;
    background-image:   image-url('/images/nationals/promo/flag-ru.jpg');
    background-size:    cover;
    overflow:           hidden;
    box-sizing:         border-box;

    -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.7);
    -moz-box-shadow:    0px 0px 20px 0px rgba(0, 0, 0, 0.7);
    box-shadow:         0px 0px 10px 0px rgba(0, 0, 0, 0.7);

}

.flag__wrapper:before {
    content:       " ";
    display:       inline-block;
    position:      absolute;
    width:         100%;
    height:        100%;
    background:    rgba(44, 62, 80, .1);
    border-radius: 50%;
    z-index:       100;
}

.flag__wrapper:after {
    content:       " ";
    display:       inline-block;
    position:      absolute;
    left:          -30%;
    top:           -50%;
    width:         160%;
    height:        100%;
    background:    rgba(255, 255, 255, .3);
    border-radius: 50%;
    z-index:       100;
}

.flag {
    height:              100%;
    width:               100%;
    border-radius:       50%;
    background-size:     auto 104%;
    background-position: center center;
    background-repeat:   no-repeat;

    -webkit-box-shadow:  inset 0px 0px 20px 0px rgba(0, 0, 0, 0.9);
    -moz-box-shadow:     inset 0px 0px 20px 0px rgba(0, 0, 0, 0.9);
    box-shadow:          inset 0px 0px 20px 0px rgba(0, 0, 0, 0.9);

    vertical-align:      middle;
    font-family:         sans-serif;
    text-transform:      uppercase;
    overflow:            hidden;
    z-index:             1;
    box-sizing:          border-box;
    border:              3px solid rgba(189, 195, 199, .3);
}

.flag span {
    display:     inline-block;
    position:    relative;
    width:       100%;
    margin-top:  40%;

    background:  rgba(0, 0, 0, .5);
    font-size:   32px;
    font-weight: bold;
    color:       #3dc9b3;
    text-align:  center;
}

.flag_country_br {
    background-image: image-url('/images/nationals/promo/flag-br.jpg');
}

.flag_country_en {
    background-image: image-url('/images/nationals/promo/flag-en.jpg');
}

.flag_country_es {
    background-image: image-url('/images/nationals/promo/flag-sp.jpg');
}

.flag_country_pr {
    background-image: image-url('/images/nationals/promo/flag-pr.jpg');
}

.flag_country_it {
    background-image: image-url('/images/nationals/promo/flag-it.jpg');
}

.flag_country_bx {
    background-image: image-url('/images/nationals/promo/flag-bx.jpg');
}

.flag_country_bx-pr {
    background-image: image-url('/images/nationals/promo/flag-bx.jpg');
}

.flag_country_be {
    background-image: image-url('/images/nationals/promo/flag-be.jpg');
}

.flag_country_nl {
    background-image: image-url('/images/nationals/promo/flag-nl.jpg');
}

.flag_country_gr {
    background-image: image-url('/images/nationals/promo/flag-gr.jpg');
}

.flag_country_chl {
    background-image: image-url('/images/nationals/promo/flag-chl.jpg');
}

.flag_country_el {
    background-image: image-url('/images/nationals/promo/flag-el.jpg');
}

.flag_country_fr {
    background-image: image-url('/images/nationals/promo/flag-fr.jpg');
}


.flag_country_tk {
    //background-image: image-url('/images/nationals/promo/flag-tk.jpg');
}
