/*------------------------------------*\
                #SETTINGS
\*------------------------------------*/

$icon-font-path: "/vendor/bootstrap-sass/vendor/assets/fonts/";
$fa-font-path: "/vendor/fontawesome/fonts/";
$flaticon-football-font-path: "/styles/fonts/football";
$flaticon-font-name: "flaticon";

// Navbar links
$navbar-default-link-color: #ecf0f1 !default;
$navbar-default-link-hover-color: #2DA6E4 !default;
$navbar-default-link-hover-bg: transparent !default;
$navbar-default-link-active-color: #F5B367 !default;
$navbar-default-link-active-bg: transparent !default;

@import 'fontawesome/scss/font-awesome';
@import 'bootstrap-sass/vendor/assets/stylesheets/bootstrap';
@import 'flags';
@import 'fonts/football/flaticon.css';

/*------------------------------------*\
                #BASE
\*------------------------------------*/

html, body {
    height: 100%;
}

html, html a {
    -webkit-font-smoothing: antialiased;
    text-shadow:            1px 1px 1px rgba(0, 0, 0, 0.004);
}

body {
    background:  #f6f6f6;
    font-family: "Exo 2", "Roboto", "Open Sans", sans-serif;

    background:  -webkit-linear-gradient(90deg, #040C19 10%, #040A16 90%); /* Chrome 10+, Saf5.1+ */
    background:  -moz-linear-gradient(90deg, #040C19 10%, #040A16 90%); /* FF3.6+ */
    background:  -ms-linear-gradient(90deg, #040C19 10%, #040A16 90%); /* IE10 */
    background:  -o-linear-gradient(90deg, #040C19 10%, #040A16 90%); /* Opera 11.10+ */
    background:  linear-gradient(90deg, #040C19 10%, #040A16 90%); /* W3C */

}

h1, h2, h3,
.h1, .h2, .h3 {
    font-weight: 300;
}

a:hover,
a:focus {
    text-decoration: none;
}

/*------------------------------------*\
                #COMPONENTS
\*------------------------------------*/

/**
 * Navigation
 */

.navbar {
    background-color: rgba(43, 48, 59, .5);
    border:           none;
    border-radius:    0;
    margin-top:       20px;
}

.nav.navbar-nav {
    border-left: 3px solid #040C19;
}

.navbar .navbar__item.navbar__item_active_yes a {
    color: $navbar-default-link-active-color;
}

.navbar .navbar__item.navbar__item_active_yes a:hover,
.navbar .navbar__item.navbar__item_active_yes a:active,
.navbar .navbar__item.navbar__item_active_yes a:focus {
    color:  $navbar-default-link-active-color;
    cursor: default;
}

.nav_type_user {
    font-size: 18px;
}

.navbar .nav i.fa-angle-down {
    font-weight:  bold;
    margin-right: 3px;
}

.nav .flag__wrapper {
    display:      inline-block;
    height:       32px;
    width:        32px;
    margin-right: 10px;
    box-shadow:   0px 1px 1px rgba(255, 255, 255, 0.2), 0 0 8px rgba(0, 0, 0, 0.5) inset;
    background:   none;
}

.nav .flag__wrapper:after {
    display: none;
}

.nav .flag {
    border: none;
}

.nav .dropdown .dropdown-menu {
    max-height: 0;
    overflow:   hidden;
    background: rgba(43, 48, 59, .9);
    transition: max-height .5s ease-in;
}

.nav .dropdown.open .dropdown-menu {
    max-height: 1000px;
    transition: max-height .5s ease-out;
}

.nav_type_user i {
    font-size: 22px;
}

/*------------------------------------*\
                #NEWS
\*------------------------------------*/

.news {
    margin-top:    20px;
    margin-bottom: 10px;
    overflow:      hidden;
}

.news__image {
    height:     308px;
    background: $navbar-default-link-active-color;
    position:   relative;
    overflow:   hidden;
}

.news__image img {
    /* Set rules to fill background */
    min-height: 100%;
    min-width:  1024px;

    /* Set up proportionate scaling */
    width:      100%;
    height:     auto;
}

.news__list {
    list-style: none;
    padding:    0;
}

.news__item {
    height:        60px;
    overflow:      hidden;
    background:    rgba(43, 48, 59, .5);
    margin-bottom: 2px;
    padding:       10px 15px;
    color:         $navbar-default-link-color;
}

.news__item a {
    color: $navbar-default-link-color;
}

.news__item a:hover {
    color: $navbar-default-link-hover-color;
}

.news__time {
    font-size: 11px;
    color:     #95a5a6;
}

.news__item:last-child {
    margin-bottom: 0;
}

.news-preview {
    position:       relative;
    vertical-align: middle;
}

.news-preview .news__title,
.news-preview .news__body {
    padding:        10px 15px;
    height:         50px;
    vertical-align: middle;
    position:       relative;
}

.news-preview .news__title {
    background: rgba(6, 9, 14, .9);
    color:      $navbar-default-link-active-color;
}

.news-preview .news__body {
    background: rgba(43, 48, 59, .5);
    color:      $navbar-default-link-color;
}

/*------------------------------------*\
                #TOOLS
\*------------------------------------*/

.s_pl_0 {
    padding-left: 0;
}

.s_pr_0 {
    padding-right: 0;
}

/**
 * Animation
 */

.delay-05s {
    animation-delay:         0.5s;
    -webkit-animation-delay: 0.5s;
}

.delay-1s {
    animation-delay:         1s;
    -webkit-animation-delay: 1s;
}

/**
 * CONTENTS
 *
 * SETTINGS
 * Global...............Globally-available variables and config.
 *
 * TOOLS
 * Mixins...............Useful mixins.
 *
 * GENERIC
 * Normalize.css........A level playing field.
 * Box-sizing...........Better default `box-sizing`.
 *
 * BASE
 * Headings.............H1–H6 styles.
 *
 * OBJECTS
 * Wrappers.............Wrapping and constraining elements.
 *
 * COMPONENTS
 * Page-head............The main page header.
 * Page-foot............The main page footer.
 * Buttons..............Button elements.
 *
 * TRUMPS
 * Text.................Text helpers.
 */
