$icon-font-path: "/vendor/bootstrap-sass/vendor/assets/fonts/";
$fa-font-path: "/vendor/fontawesome/fonts/";

@import 'fontawesome/scss/font-awesome';
@import 'bootstrap-sass/vendor/assets/stylesheets/bootstrap';
@import 'flags';

html, body {
    height: 100%;
}

html, html a {
    -webkit-font-smoothing: antialiased;
    text-shadow:            1px 1px 1px rgba(0, 0, 0, 0.004);
}

body {
    background:  #f6f6f6;
    font-family: Raleway, sans-serif;
}

a:hover,
a:focus {
    text-decoration: none;
}

.content-wrapper {
    min-height:     100%;
    height:         auto !important;
    height:         100%;
    margin:         0 auto -40px;
    padding-bottom: 40px;
}

.block_scrollable_yes {
    position: relative;
    overflow: hidden;
    height:   100%;
}

//============ Navbar ==============//

.navbar {
    position:      relative;
    min-height:    56px;
    border-right:  1px solid transparent;
    z-index:       1000;
    background:    #303030;
    margin-bottom: 15px;
}

.navbar__toggle {
    margin:    10px 0 10px 15px;
    float:     left;
    color:     #fff;
    font-size: 18px;
    padding:   2px 6px !important;
}

.navbar__toggle:hover {
    background-color: #1c1c1c;
}

.navbar__link {
    padding:     0 20px !important;
    line-height: 45px !important;
    font-weight: 700;
    color:       #676767;
}

.navbar__link:hover {
    background: none !important;
    color:      #fff;
}

.navbar__icon {
    font-size:      20px;
    margin-top:     -3px;
    vertical-align: middle;
}

//============ Sidebar ==============//

.sidebar {
    position:   fixed;
    top:        0;
    bottom:     0;
    width:      250px;
    background: #303030;
    z-index:    1;
}

.sidebar_position_left {
    left: 0;
}

.sidebar__block {
    padding:       10px 20px;
    border-bottom: 1px solid #3a3a3a;
}

.sidebar__block .profile {
    text-align:  center;
    display:     block;
    width:       100%;
    padding-top: 20px;
}

.sidebar__block .profile__photo {
    display:         inline-block;
    margin:          0 1em;
    padding:         0.4em;
    border-radius:   50%;
    background:      image-url('/images/nationals/promo/flag-en.jpg') center center;
    background-size: cover;
    box-shadow:      0px 1px 1px rgba(255, 255, 255, 0.2), 0 0 8px rgba(0, 0, 0, 0.5) inset;
}

.sidebar__block .profile__photo span {
    display:        inline-block;
    overflow:       hidden;
    border-radius:  50%;
    box-shadow:     0px 2px 5px rgba(0, 0, 0, 0.6);
    vertical-align: middle;
}

.sidebar__block .profile__photo img {
    width:  120px;
    height: 120px;
}

.sidebar__block .profile__name {
    margin-top: 5px;
    color:      #fff;
    font-size:  24px;
}

//=========== Content styles ==============//

#content {
    min-width: 320px;
}

.cover {
    max-height: 300px;
    margin:     -15px -15px 15px;
    overflow:   hidden;
}

.cover__image {
    display:  inline-block;
    position: relative;
    width:    100%;
}

// ********** FOOTER ********** //

footer {
    position:    fixed;
    bottom:      1px;
    left:        0;
    right:       0;
    text-align:  center;
    color:       #888;
    font-weight: 500;
    background:  #fff;
    height:      45px;
    line-height: 45px;
    z-index:     1030;
    border-top:  5px solid #f6f6f6;
    display:     block;

    p {
        margin-bottom: 0;
    }

    .text_color_muted {
        color: #ddd;
    }
}

//=========== Common styles ==============//

.image_circled_yes {
    border-radius: 50%;
}

@media (min-width: 768px) {
    #content {
        margin-left: 250px;
    }

    footer {
        left:  250px;
        right: 0;
    }

    .navbar {
        min-height: 70px;
    }

    .navbar__link {
        line-height: 70px !important;
    }
}

// ************ ANIMATION ********** //

.delay-05s {
    animation-delay:         0.5s;
    -webkit-animation-delay: 0.5s;
}

.delay-1s {
    animation-delay:         1s;
    -webkit-animation-delay: 1s;
}
