/*------------------------------------*\
                #SETTINGS
\*------------------------------------*/

$icon-font-path: "/vendor/bootstrap-sass/vendor/assets/fonts/";
$fa-font-path: "/vendor/fontawesome/fonts/";
$flaticon-football-font-path: "/styles/fonts/football";
$flaticon-font-name: "flaticon";

// Navbar links
$navbar-default-link-color: #ecf0f1 !default;
$navbar-default-link-hover-color: #2DA6E4 !default;
$navbar-default-link-hover-bg: transparent !default;
$navbar-default-link-active-color: #F5B367 !default;
$navbar-default-link-active-bg: transparent !default;
$color-red: #C63C3C !default;

@import 'fontawesome/scss/font-awesome';
@import 'bootstrap-sass/vendor/assets/stylesheets/bootstrap';
@import 'flags';
@import 'fonts/football/flaticon.css';

/*------------------------------------*\
                #BASE
\*------------------------------------*/

html, body {
    height: 100%;
}

html, html a {
    -webkit-font-smoothing: antialiased;
    text-shadow:            1px 1px 1px rgba(0, 0, 0, 0.004);
}

body {
    background:  #f6f6f6;
    color:       $navbar-default-link-color;
    font-family: "Exo 2", "Roboto", "Open Sans", sans-serif;

    background:  -webkit-linear-gradient(90deg, #040C19 10%, #040A16 90%); /* Chrome 10+, Saf5.1+ */
    background:  -moz-linear-gradient(90deg, #040C19 10%, #040A16 90%); /* FF3.6+ */
    background:  -ms-linear-gradient(90deg, #040C19 10%, #040A16 90%); /* IE10 */
    background:  -o-linear-gradient(90deg, #040C19 10%, #040A16 90%); /* Opera 11.10+ */
    background:  linear-gradient(90deg, #040C19 10%, #040A16 90%); /* W3C */

}

h1, h2, h3,
.h1, .h2, .h3 {
    font-weight: 300;
}

h1 {
    margin-bottom:  20px;
    letter-spacing: 5px;
    font-size:      48px;
}

a:hover,
a:focus {
    text-decoration: none;
}

.text_color_orange {
    color: $navbar-default-link-active-color;
}

.text_color_muted {
    color: #555;
}

footer {
    text-align: center;
}

/*------------------------------------*\
                #COMPONENTS
\*------------------------------------*/

.link_type_full {
    position:   relative;
    padding:    10px 15px;
    background: rgba(255, 255, 255, .05);
    border-top: 1px solid #060D17;
}

.link_type_full a {
    transition: all .2s ease-in;
}

.link_type_full .pull-right a {
    position:    absolute;
    right:       0;
    top:         0;
    padding:     0 20px;
    border-left: 1px solid #060D17;
    font-size:   26px;
    color:       #060D17;
}

.link_type_full .pull-right a:hover {
    color:             $navbar-default-link-hover-color;
    border-left-color: $navbar-default-link-hover-color;
}

/**
 * Navigation
 */

.navbar {
    background-color: rgba(43, 48, 59, .5);
    border:           none;
    border-radius:    0;
    margin-top:       20px;
}

.nav.navbar-nav.navbar_border_left {
    border-left: 3px solid #040C19;
}

.navbar .navbar__item.navbar__item_active_yes a {
    color: $navbar-default-link-active-color;
}

.navbar .navbar__item.navbar__item_active_yes a:hover,
.navbar .navbar__item.navbar__item_active_yes a:active,
.navbar .navbar__item.navbar__item_active_yes a:focus {
    color:  $navbar-default-link-active-color;
    cursor: default;
}

.nav_type_user {
    font-size: 18px;
}

.navbar .nav i.fa-angle-down {
    font-weight:  bold;
    margin-right: 3px;
}

.nav .flag__wrapper {
    display:      inline-block;
    height:       32px;
    width:        32px;
    margin-right: 10px;
    box-shadow:   0px 1px 1px rgba(255, 255, 255, 0.2), 0 0 8px rgba(0, 0, 0, 0.5) inset;
    background:   none;
}

.nav .flag__wrapper:after {
    display: none;
}

.nav .flag {
    border: none;
}

.nav .dropdown .dropdown-menu {
    max-height: 0;
    overflow:   hidden;
    background: rgba(43, 48, 59, .9);
    transition: max-height .5s ease-in;
}

.nav .dropdown.open .dropdown-menu {
    max-height: 1000px;
    transition: max-height .5s ease-out;
}

.nav_type_user i {
    font-size: 22px;
}

/**
 * News
 */

.news {
    margin-top:    20px;
    margin-bottom: 10px;
    overflow:      hidden;
}

.news__image {
    height:     308px;
    background: $navbar-default-link-active-color;
    position:   relative;
    overflow:   hidden;
}

.news__image img {
    /* Set rules to fill background */
    min-height: 100%;
    min-width:  1024px;

    /* Set up proportionate scaling */
    width:      100%;
    height:     auto;
}

.news__list {
    list-style: none;
    padding:    0;
}

.news__item {
    height:        60px;
    overflow:      hidden;
    background:    rgba(43, 48, 59, .5);
    margin-bottom: 2px;
    padding:       10px 15px;
    color:         $navbar-default-link-color;
}

.news__item a {
    color: $navbar-default-link-color;
}

.news__item a:hover {
    color: $navbar-default-link-hover-color;
}

.news__time {
    font-size: 11px;
    color:     #95a5a6;
}

.news__item:last-child {
    margin-bottom: 0;
}

.news-preview {
    position:       relative;
    vertical-align: middle;
}

.news-preview .news__title,
.news-preview .news__body {
    padding:        10px 15px;
    height:         50px;
    vertical-align: middle;
    position:       relative;
}

.news-preview .news__title {
    background: rgba(6, 9, 14, .9);
    color:      $navbar-default-link-active-color;
}

.news-preview .news__body {
    background: rgba(43, 48, 59, .5);
    color:      $navbar-default-link-color;
}

/**
 * Tabs
 */

.tabbable {

}

.nav-tabs {
    border-bottom: none;
}

.nav-tabs .tab__title.tab__title_size_third {
    width: 33.3333%;
}

.nav-tabs .tab__title.tab__title_size_half {
    width: 50%;
}

.nav-tabs .tab__title.tab__title_size_full {
    width: 100%;
}

.nav-tabs .tab__title,
.nav-tabs .tab__title a,
.nav-tabs .tab__title.tab__title_active_yes a,
.nav-tabs .tab__title.active a,
.nav-tabs .tab__title a:hover,
.nav-tabs .tab__title.tab__title_active_yes a:hover,
.nav-tabs .tab__title.active a:hover {
    border:        none;
    border-radius: 0;
    background:    transparent;
    color:         $navbar-default-link-color;
}

.nav-tabs .tab__title.tab__title_active_yes a,
.nav-tabs .tab__title.active a {
    &,
    &:hover,
    &:focus {
        color:         $navbar-default-link-color;
        background:    rgba(255, 255, 255, .05);
        border:        none;
        border-bottom: 2px solid $navbar-default-link-hover-color;
    }
}

.nav-tabs .tab__title:not(.tab__title_active_yes) a:hover,
.nav-tabs .tab__title:not(.active) a:hover {
    color: $navbar-default-link-hover-color;
}

.tab-content .table {
    color: $navbar-default-link-color;
}

.tab-content .table th,
.tab-content .table td {
    border:     none;
    background: rgba(255, 255, 255, .05);
}

.panel__body .table th,
.panel__body .table td {
    border: none;
}

.tab-content .table tr:first-child td {
    color: $navbar-default-link-active-color;
}

.table_type_table .movement {
    padding-left: 0;
}

.table_type_table .fa-circle {
    font-size: 8px;
    color:     #555;
}

.table_type_table .fa-angle-up,
.table_type_table .fa-angle-down {
    font-size: 18px;
}

.table_type_table .fa-angle-up {
    color: #3FA110;
}

.table_type_table .fa-angle-down {
    color: #B72824;
}

.table .col-md-05 {
    width: 4.16666%;
}

.table td.s_p_0 {
    padding-left:  0;
    padding-right: 0;
}

.table td.s_pl_0 {
    padding-left: 0;
}

.table td.s_pr_0 {
    padding-right: 0;
}

/**
 * Contacts
 */

.contact {
    overflow:       hidden;
    position:       relative;
    vertical-align: middle;
    padding:        20px 10px;
    border-bottom:  1px solid #060D17;
}

.contact:first-child {
    padding-top: 0;
}

.contact:last-child {
    border:         none;
    padding-bottom: 0;
}

.contact__photo {
    display:         inline-block;
    vertical-align:  middle;
    margin-right:    20px;
    width:           80px;
    height:          80px;
    background:      transparent url("https://pp.vk.me/c409718/v409718953/4cff/IQsN7usEI1I.jpg") no-repeat;
    background-size: cover;
    border-radius:   50%;
}

.contact:nth-child(2) .contact__photo {
    background-image: url("https://pp.vk.me/c411317/v411317943/60ed/Lt8L_xHbNcE.jpg");
}

.contact:nth-child(3) .contact__photo {
    background-image: url("https://pp.vk.me/c622526/v622526280/5a1/3vNp6c-HAy4.jpg");
}

.contact:nth-child(4) .contact__photo {
    background-image: url("https://pp.vk.me/c421430/v421430983/583c/zmQJUCGxaRw.jpg");
}

.contact:nth-child(5) .contact__photo {
    background-image: url("https://pp.vk.me/c10290/u337595/a_112b575a.jpg");
}

.contact__details {
    display:        inline-block;
    vertical-align: middle;
}

.contact__name {
    font-weight: bold;
    line-height: 1;
}

.contact__title {
    color:         #999;
    margin-bottom: 5px;
}

.contact .fa {
    color: $navbar-default-link-hover-color;
}

.contact a {
    color: $navbar-default-link-active-color;
}

/**
 * Panels
 */

.panel {
    border:        none;
    border-radius: 0;
    background:    rgba(255, 255, 255, .05);
}

.panel__header,
.panel__body {
    padding: 15px 10px;
}

.panel__header {
    border-bottom: 1px solid #060D17;
}

.panel .table td {
    padding-top:    3px;
    padding-bottom: 3px;
}

/**
 * Fixture
 */

.fixture__winner {
    color: $navbar-default-link-active-color;
}

.fixture__looser {
    color: #555;
}

/**
 * Forms
 */

.form .form-control,
.form .btn {
    border:        none;
    outline:       none;
    width:         100%;
    border-radius: 0;
    padding:       10px 15px;
}

.form .form-group {
    position: relative;
}

.form .form-group_icon_left .form-control {
    padding-left: 40px;
}

.form .form-group_icon_right {
    padding-right: 40px;
}

.form .form-group_icon_left .fa {
    left: 0;
}

.form .form-group_icon_right .fa {
    right: 0;
}

.form .form-group .fa {
    position:       absolute;
    padding:        10px;
    pointer-events: none;
    color:          $navbar-default-link-active-color;
    font-size:      16px;
}

.form_type_signin .btn {
    background: #30a8e6;
    color:      $navbar-default-link-color;
}

.form_type_signin .btn:hover {
    background: $navbar-default-link-active-color;
}

/**
 * Match main
 */

.match-main {
    position: relative;
    height:   300px;
    padding:  0;
    overflow: hidden;
}

.match-main_image {
    position:        absolute;
    top:             0;
    width:           48%;
    height:          100%;
    background:      #00b3ee;
    background-size: cover;

    -webkit-filter:  sepia(.53);
    filter:          sepia(.53);
    box-shadow:      inset 0px 0px 10px rgba(0, 0, 0, 0.9);
}

.match-main_image_home {
    /*Chrome,Safari*/
    -webkit-clip-path: polygon(300px 300px, 360px 150px, 300px 0px, 0px 0px, 0px 300px);

    /*Firefox*/
    clip-path:         url("#clip-match-main_image_home");

    /* iOS support inline encoded svg file*/
    -webkit-mask:      url(data:image/svg+xml;charset=utf-8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+CjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2ZXJzaW9uPSIxLjEiIHdpZHRoPSIwIiBoZWlnaHQ9IjAiPgogIDxjbGlwUGF0aCBpZD0ic3ZnQ2xpcCI+CiAgICA8cGF0aCBpZD0ic3ZnUGF0aCIgZD0iTTMwMCwzMDAgTDM2MCwxNTAgMzAwLDAgMCwwIDAsMzAwIHoiLz4KICA8L2NsaXBQYXRoPgogIDxwYXRoIGlkPSJzdmdNYXNrIiBkPSJNMzAwLDMwMCBMMzYwLDE1MCAzMDAsMCAwLDAgMCwzMDAgeiIgIC8+Cjwvc3ZnPg==) no-repeat;
}

.match-main_image_away {
    /*Chrome,Safari*/
    -webkit-clip-path: polygon(0px 150px, 60px 300px, 360px 300px, 360px 0px, 60px 0px);

    /*Firefox*/
    clip-path:         url("#clip-match-main_image_away");

    /* iOS support inline encoded svg file*/
    -webkit-mask:      url(data:image/svg+xml;charset=utf-8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+CjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2ZXJzaW9uPSIxLjEiIHdpZHRoPSIwIiBoZWlnaHQ9IjAiPgogIDxjbGlwUGF0aCBpZD0ic3ZnQ2xpcCI+CiAgICA8cGF0aCBpZD0ic3ZnUGF0aCIgZD0iTTAsMTUwIEw2MCwzMDAgMzYwLDMwMCAzNjAsMCA2MCwwIHoiLz4KICA8L2NsaXBQYXRoPgogIDxwYXRoIGlkPSJzdmdNYXNrIiBkPSJNMCwxNTAgTDYwLDMwMCAzNjAsMzAwIDM2MCwwIDYwLDAgeiIgIC8+Cjwvc3ZnPg==) no-repeat;
}

.match-main_info {
    position:     relative;
    width:        200px;
    height:       100%;
    margin:       0 auto;
    z-index:      10;
    text-align:   center;
    background:   rgba(26, 26, 26, .5);

    /*Chrome,Safari*/
    //    -webkit-clip-path: polygon(60px 150px, 0px 300px, 200px 300px, 140px 150px, 200px 0px, 0px 0px);

    /*Firefox*/
    clip-path:    url("#clip-match-main_info");

    /* iOS support inline encoded svg file*/
    -webkit-mask: url(data:image/svg+xml;charset=utf-8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+CjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2ZXJzaW9uPSIxLjEiIHdpZHRoPSIwIiBoZWlnaHQ9IjAiPgogIDxjbGlwUGF0aCBpZD0ic3ZnQ2xpcCI+CiAgICA8cGF0aCBpZD0ic3ZnUGF0aCIgZD0iTTYwLDE1MCBMMCwzMDAgMjAwLDMwMCAxNDAsMTUwIDIwMCwwIDAsMCB6Ii8+CiAgPC9jbGlwUGF0aD4KICA8cGF0aCBpZD0ic3ZnTWFzayIgZD0iTTYwLDE1MCBMMCwzMDAgMjAwLDMwMCAxNDAsMTUwIDIwMCwwIDAsMCB6IiAgLz4KPC9zdmc+) no-repeat;
}

.match-main_teams,
.match-main_place,
.match-main_hot {
    position:    absolute;
    left:        50%;
    width:       100%;
    margin-left: -50%;
    padding:     20px 0;
}

.match-main_teams span,
.match-main_place span {
    display:   block;
    font-size: 16px;
}

.match-main_place .fa,
.match-main_vs {
    color:       $navbar-default-link-active-color;
    font-size:   18px;
    font-weight: bold;
}

.match-main_teams {
    top: 0
}

.match-main_place {
    bottom: 0
}

.match-main_hot {
    top:        50%;
    margin-top: -48px;
    font-size:  48px;
    padding:    0;
    color:      $navbar-default-link-active-color;
}

.match-main_hot .flaticon-flaming:before {
    font-size:   56px;
    margin-left: 5px;
}

.match-main_image_home {
    left: -40px;
}

.match-main_image_away {
    right: -40px;
}

/**
 * Media
 */

.panel_type_media .panel__body {
    position: relative;
    overflow: hidden;
}

.panel_type_media .media__item-wrapper {
    position:   relative;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.9);
}

.panel_type_media .panel__body .media__item {
    position:       relative;
    max-width:      100%;
    width:          100%;
    z-index:        -1;
    border-right:   10px solid $navbar-default-link-hover-color;

    -webkit-filter: sepia(.53);
    filter:         sepia(.53);
}

.panel_type_photo img {
    width:  100%;
    height: 100%;
}

.panel_type_photo .row {
    margin-left:  -5px;
    margin-right: -5px;
}

.panel_type_photo .column {
    padding-left: 5px;
    padding-right: 5px;
}

/**
 * Federations
 */

.federation {
    display: inline-block;
    margin:  0 20px;
}

.federation .flag__wrapper {
    width:              100px;
    height:             100px;
    padding:            2%;

    -webkit-box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.2), 0 0 8px rgba(0, 0, 0, 0.5) inset;
    -moz-box-shadow:    0px 1px 1px rgba(255, 255, 255, 0.2), 0 0 8px rgba(0, 0, 0, 0.5) inset;
    box-shadow:         0px 1px 1px rgba(255, 255, 255, 0.2), 0 0 8px rgba(0, 0, 0, 0.5) inset;
}

.federation .flag__wrapper {
    display:    inline-block;
    height:     96px;
    width:      96px;
    box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.2), 0 0 8px rgba(0, 0, 0, 0.5) inset;
}

.federation .flag__wrapper:after {
    content: none;
}

.federation .flag__wrapper:before {
    left:       0;
    background: rgba(44, 62, 80, .31);
}

.federation .flag {
    border: none;
}

.socials__buttons {
    list-style: none;
    padding:    0;
}

ul.social-buttons {
    list-style: none;
    margin:     0;
    padding:    0;
}

ul.social-buttons li {
    display:      inline-block;
    margin-right: 10px;
}

ul.social-buttons li:last-child {
    margin-right: 0;
}

.socials__button {
    width:                 40px;
    height:                40px;
    border-radius:         50%;
    -moz-border-radius:    50%;
    -webkit-border-radius: 50%;
    -o-border-radius:      50%;
    background:            #242830;
    display:               inline-block;
    color:                 #fff;
    font-size:             17px;
    line-height:           40px;
    text-align:            center;

    -webkit-transition:    all 0.25s;
    -moz-transition:       all 0.25s;
    -o-transition:         all 0.25s;
    transition:            all 0.25s;
}

.socials__button:hover {
    background: $navbar-default-link-active-color;
    color:      $navbar-default-link-color;
}

.socials__button:active {
    color: $navbar-default-link-color;
}

/**
 * Subscription
 */

.subscription__form .form-group {
    display:        inline-block;
    vertical-align: top;
}

.subscription__form .form-group:first-child {
    width: 50%;
}

.subscription__form .form-group:last-child {
    width: 30%;
}

.subscription__form .form-control,
.subscription__form .btn {
    padding:        10px;
    vertical-align: top;
}

.subscription__form .form-control {
    padding:     20px;
    background:  transparent;
    border:      1px solid $navbar-default-link-color;
    line-height: 18px;
}

.subscription__form .btn {
    background:     $color-red;
    color:          $navbar-default-link-color;
    text-transform: uppercase;
    font-size:      18px;
    padding-bottom: 7px;
}

.subscription__form .btn:hover {
    background: $navbar-default-link-active-color;
    color:      $navbar-default-link-color;
}

.subscription__form .form-group .fa {
    left:      4px;
    top:       3px;
    font-size: 18px;
}

/*------------------------------------*\
                #TOOLS
\*------------------------------------*/

.s_pl_0 {
    padding-left: 0;
}

.s_pr_0 {
    padding-right: 0;
}

.s_pl_5 {
    padding-left: 5px;
}

.s_pr_5 {
    padding-right: 5px;
}

.s_m_0 {
    margin: 0;
}

.s_mb_3 {
    margin-bottom: 3px;
}

.s_mb_10 {
    margin-bottom: 10px;
}

.s_mb_20 {
    margin-bottom: 20px;
}

.s_mt_10 {
    margin-top: 10px;
}

.s_mt_20 {
    margin-top: 20px;
}

.s_mt_10 {
    margin-top: 10px;
}

.s_mt_20 {
    margin-top: 20px;
}

.s_mr_5 {
    margin-right: 5px;
}

.s_mr_10 {
    margin-right: 10px;
}

.text_align_l {
    text-align: left;
}

.text_align_c {
    text-align: center;
}

.text_align_r {
    text-align: right;
}

.text_size_10 {
    font-size: 10px;
}

.text_size_11 {
    font-size: 11px;
}

.text_size_12 {
    font-size: 12px;
}

.text_size_14 {
    font-size: 14px;
}

.text_size_16 {
    font-size: 16px;
}

.text_size_18 {
    font-size: 18px;
}

.text_size_24 {
    font-size: 24px;
}

.text_size_32 {
    font-size: 32px;
}

/**
 * Animation
 */

.delay-05s {
    animation-delay:         0.5s;
    -webkit-animation-delay: 0.5s;
}

.delay-1s {
    animation-delay:         1s;
    -webkit-animation-delay: 1s;
}

/**
 * CONTENTS
 *
 * SETTINGS
 * Global...............Globally-available variables and config.
 *
 * TOOLS
 * Mixins...............Useful mixins.
 *
 * GENERIC
 * Normalize.css........A level playing field.
 * Box-sizing...........Better default `box-sizing`.
 *
 * BASE
 * Headings.............H1–H6 styles.
 *
 * OBJECTS
 * Wrappers.............Wrapping and constraining elements.
 *
 * COMPONENTS
 * Page-head............The main page header.
 * Page-foot............The main page footer.
 * Buttons..............Button elements.
 *
 * TRUMPS
 * Text.................Text helpers.
 */
