.owl-controls {
    padding-bottom: 10px;
}

.owl-prev {
    left: 5px;
}

.owl-next {
    right: 5px;
}

.owl-buttons {
    width:    100%;
}

.owl-buttons div {
    position: absolute;
    margin: 0 20px;
    bottom:   10px;
}

.owl-pagination {
    margin: 0 50px;
}